{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
<header class="intro-header" style="background-image: url({% static 'img/blog-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Codekvng</h1>
                    <hr class="small">
                    <span class="subheading">Welcome to <a class="link text-success" href="https://www.facebook.com/wisdom.amuzu.399/" target="_blank">Codekvngs</a>Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}